h1 {
    align-content: center;
    align-items: center;
    background-color: rgb(150, 30, 50);
    color: #fff;
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 3rem auto 3rem;
    justify-items: center;
    padding: 0.5rem 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 20;
}

h1 > span {
    grid-column: 2 / 3;
}

h2 {
    font-size: 2rem;
    padding: 5.5rem 0.5rem 2rem;
    text-align: center;
}

.switch {
    border-radius: 1rem;
    cursor: pointer;
    display: inline-block;
    grid-column: 3 / 4;
    height: 3rem;
    position: relative;
    transition: 0.5s;
    width: 2rem;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.slider {
    border-radius: 50%;
    height: 1rem;
    left: 0.5rem;
    position: absolute;
    top: 0.5rem;
    transition: 0.5s;
    width: 1rem;
}

@media (min-width: 768px) {
    h1 {
        grid-template-columns: 2rem 41rem 2rem;  /* 720px = 45rem */
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    h1 {
        grid-template-columns: 2rem 56rem 2rem;  /* 960px = 60rem */
    }
}