#flip-tip {
    font-size: 1rem;
    margin: 0 1rem 1rem;
}

#flip-all-cards-btn {
    background-color: rgb(140, 20, 40);
    border: 2px solid #FFF;
    border-radius: 1rem;
    bottom: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    left: 50%;
    margin: 0 1rem 1rem;
    padding: 0.6rem 1rem;
    position: sticky;
    transform: translateX(-50%);
    z-index: 20;
}

#flip-all-cards-btn:hover {
    background-color: rgb(160, 40, 60);
}

#flip-all-cards-btn:active {
    background-color: rgb(200, 0, 20);
}

@media (min-width: 576px) {
    #flip-tip {
        margin: 0 auto 1rem;
        width: 33.75rem;  /* 540px = 33.75rem */
    }
}

@media (min-width: 768px) {
    #flip-tip {
        width: 45rem;  /* 720px = 45rem */
    }
}

@media (min-width: 1200px) {
    #flip-tip {
        width: 60rem;  /* 960px = 60rem */
    }
}