/* IMPORTANT! */
/* Implement scroll to top */
/* Implement to-do-list style */
/* NEXT/PREVIOUS buttons */

.card {
    /*background-color: crimson;  */
    height: calc(300px + 2.2rem);
    perspective: 1000px;
    width: 200px;
}

.card-inner {
    /*background-color: yellowgreen;  */
    height: calc(300px + 2.2rem);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 4s;
    width: 200px;
}

/* .card:hover .card-inner {
    transform: rotateY(180deg);
} */

.card-front, .card-back {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.card-back {
    background-color: red;
    /* display: ; */
    transform: rotateY(180deg);
}

img {
    display: block;
    object-fit: cover;
}

.card-image-front {
    height: 300px;
    width: 100%;
}

.card-status {
    background-color: green;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

.card-image-back {
    height: 66%;
    width: 100%;
}