.card {
    background-color: transparent;
    height: calc(18.75rem + 2.2rem);  /* 300px = 18.75rem */
    margin: 0 0.8rem;
    perspective: 1000px;
    width: 12.5rem;  /* 200px = 12.5rem */
}

.card-inner {
    border-radius: 1rem;
    height: calc(18.75rem + 2.2rem);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 12.5rem;
}

.card-front, .card-back {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 1rem;
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 100%;
}

.card-back {
    transform: rotateY(180deg);
}

img {
    display: block;
    object-fit: cover;
}

.card-image-front {
    border-radius: 1rem 1rem 0 0;
    height: 18.75rem;
    width: 100%;
}

.card-status {
    border-radius: 0 0 1rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

.card-image-back {
    border-radius: 1rem 1rem 0 0;
    height: 66%;
    width: 100%;
}

.card-back h4 {
    font-size: 1.2rem;
    margin: 0.5rem 0 0.5rem;
}

.card-back h5 {
    font-size: 0.9rem;
    margin: 0 0 0.3rem;
}

.card-back a {
    color: rgb(130, 10, 30);
    font-size: 0.9rem;
}

.card-back a:hover {
    color: rgb(160, 40, 60);
    text-decoration: none;
}