* {
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: "Nunito", sans-serif;
}